<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="icon" href="/favicon.ico" type="image/x-icon" />
<link rel="canonical" href="https://safin.dev" />
<base target="_blank" />

<meta name="description" content="Student and programmer interested in cybersecurity" />
<meta name="keywords" content="Safin Singh, Student, Programmer, Cybersecurity" />
<meta property="og:title" content="Safin Singh" />
<meta property="og:description" content="Student and programmer interested in cybersecurity" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://safin.dev" />
<meta name="twitter:title" content="Safin Singh" />
<meta name="twitter:description" content="Student and programmer interested in cybersecurity" />
<meta name="robots" content="index, follow" />
<meta name="apple-mobile-web-app-title" content="Safin Singh" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Inter:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
