@import "./reset.scss";

:root {
	font-family: "Inter", sans-serif;
	--accent: #0000ff;
}

body {
	margin: 0 auto;
	padding: 20px;
	font-size: 16px;
}

a {
	color: black;
	text-decoration: underline;
	text-decoration-color: var(--accent);
	text-decoration-thickness: 2px;
}

a:hover {
	color: var(--accent);
}

.muted {
	color: #808080;
}

p {
	font-weight: 400;
}

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

::-webkit-scrollbar-track {
	background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
	background: #888;
}

::-webkit-scrollbar-thumb:hover {
	background: black;
}
